Repository KeepDoingSomething/Algorithm-Study, pull requests merged in 2024-10, with the labels that each got.

#118 [19주차 / 이인복 ] 문제 풀이
  이인복/BOJ/java/com/Week18/G4_9205.java
  이인복/BOJ/java/com/Week19/G4_13397.java
  이인복/BOJ/java/com/Week19/G5_1074.java
Labels: BOJ, Gold, Java, Programmers, LV2

#121 [20주차 / 이인복 ] 문제 풀이
  이인복/BOJ/java/com/Week20/G5_13265.java
  이인복/BOJ/java/com/Week20/LV2_12980.java
  이인복/BOJ/java/com/Week20/LeetCode_5.java
Labels: BOJ, Gold, Java, Programmers, LV2, Leet Code, Medium

#122 Week20 강산아 문제풀이
  강산아/boj/week19/Z.java
  강산아/boj/week20/색칠하기.java
  강산아/leetcode/week20/LongestPalindromicSubstring.java
  강산아/programmers/week19/혼자서하는틱택토.java
  강산아/programmers/week19/후보키.java
  강산아/programmers/week20/점프와순간이동.java
Labels: BOJ, Java, Programmers, LV2, Leet Code

#125 [21주차 / 이인복 ] 문제 풀이
  이인복/BOJ/java/com/Week21/G2_16946/G2_16946.java
  이인복/BOJ/java/com/Week21/G3_9466/G3_9466.java
  이인복/BOJ/java/com/Week21/LV2_42584/LV2_42584.java
Labels: BOJ, Gold, Java, Programmers, LV2

#128 [22주차 / 이인복 ] 문제 풀이
  이인복/BOJ/java/com/Week22/G4_1806/G4_1806.java
  이인복/BOJ/java/com/Week22/LV2_12952/LV2_12952.java
  이인복/BOJ/java/com/Week22/LV2_49993/LV2_49993.java
Labels: BOJ, Gold, Java, Programmers, LV2

#129 [22주차 / 윤건수] 문제 풀이
  윤건수/TestMain.java
  윤건수/baekjoon/G4_1806/Main.java
  윤건수/baekjoon/G4_1806/input1.txt
  윤건수/baekjoon/G4_1806/input2.txt
  윤건수/baekjoon/G4_1806/result1.txt
  윤건수/baekjoon/G4_1806/result2.txt
  윤건수/programmers/LV2_12952/Solution.java
  윤건수/programmers/LV2_12952/TestCase.java
  윤건수/programmers/LV2_49993/Solution.java
  윤건수/programmers/LV2_49993/TestCase.java
Labels: BOJ, Gold, Java, Programmers, LV2
