Repository KeepDoingSomething/Algorithm-Study, pull requests merged in 2024-12, with the labels that each got.

#154 [26주차 / 이인복 ] 문제 풀이
  이인복/BOJ/java/com/Week26/G5_22862/G5_22862.java
  이인복/BOJ/java/com/Week26/LV2_42586/LV2_42586.java
  이인복/BOJ/java/com/Week26/LV2_72412/LV2_72412.java
Labels: BOJ, Gold, Java, Programmers, LV2

#155 [26주차 / 박정근] 문제 풀이
  박정근/BOJ/Week26/[22862]가장_긴_짝수_연속한_부분_수열_(large).java
  박정근/Programmers/Week26/기능개발.java
  박정근/Programmers/Week26/순위_검색.java
Labels: BOJ, Gold, Java, Programmers, LV2

#156 26주차 강산아 문제풀이
  강산아/boj/week26/가장긴짝수연속한부분수열.java
  강산아/programmers/week26/기능개발.java
Labels: BOJ, Gold, Java, Programmers, LV2

#160 [27주차 / 윤건수] 문제풀이
  윤건수/TestMain.java
  윤건수/baekjoon/G3_10423/Main.java
  윤건수/baekjoon/G3_10423/input1.txt
  윤건수/baekjoon/G3_10423/input2.txt
  윤건수/baekjoon/G3_10423/input3.txt
  윤건수/baekjoon/G3_10423/input4.txt
  윤건수/baekjoon/G3_10423/result1.txt
  윤건수/baekjoon/G3_10423/result2.txt
  윤건수/baekjoon/G3_10423/result3.txt
  윤건수/baekjoon/G3_10423/result4.txt
  윤건수/programmers/LV2_340212/Solution.java
  윤건수/programmers/LV2_340212/TestCase.java
  윤건수/programmers/LV2_72411/Solution.java
  윤건수/programmers/LV2_72411/TestCase.java
Labels: BOJ, Gold, Java, Programmers, LV2

#161 [27주차 / 박정근] 문제 풀이
  박정근/BOJ/Week27/[10423]전기가_부족해.java
  박정근/Programmers/Week27/메뉴_리뉴얼.java
  박정근/Programmers/Week27/퍼즐_게임_챌린지.java
Labels: BOJ, Gold, Java, Programmers, LV2

#162 Feat: 2024-12-08 프로그래머스 퍼즐게임
  강산아/programmers/week27/메뉴리뉴얼.java
  강산아/programmers/week27/퍼즐게임.java
Labels: Gold, Java, Programmers, LV2

#163 [27주차 / 이인복 ] 문제 풀이
  이인복/BOJ/java/com/Week27/G3_10423/G3_10423.java
  이인복/BOJ/java/com/Week27/LV2_340212/LV2_340212.java
  이인복/BOJ/java/com/Week27/LV2_72411/LV2_72411.java
Labels: BOJ, Gold, Java, Programmers, LV2

#164 [ 27주차 / 전유진 ] 문제풀이
  전유진/BOJ/소수의_연속합.java
  전유진/Programmers/N_Queen.java
  전유진/Programmers/메뉴_리뉴얼.java
  전유진/Programmers/후보키.java
Labels: BOJ, Java, Programmers

#167 [28주차 / 박정근] 문제 풀이
  박정근/BOJ/Week28/[20040]사이클_게임.java
  박정근/BOJ/Week28/[2251]물통.java
  박정근/BOJ/Week28/[9663]N-Queen.java
Labels: BOJ, Gold, Java

#168 [28주차 / 이인복 ] 문제 풀이
  이인복/BOJ/java/com/Week28/G4_20040/G4_20040.java
  이인복/BOJ/java/com/Week28/G4_2251/G4_2251.java
  이인복/BOJ/java/com/Week28/G4_9663/G4_9663.java
Labels: BOJ, Gold, Java

#170 [28주차 / 양문규] 문제 풀이
  양문규/BOJ/Week28/9663.py
Labels: BOJ, Gold, Python

#172 Feat: Week 27 n-queen, 물통
  강산아/boj/week27/NQueen.java
  강산아/boj/week27/물통.java
Labels: BOJ, Gold, Java

#179 [ 29주차 / 전유진 ] 문제풀이
  전유진/Programmers/귤고르기.java
Labels: BOJ, Java, Programmers, LV2

#178 [29주차 / 윤건수] 문제풀이
  윤건수/TestMain.java
  윤건수/baekjoon/G2_2637/Main.java
  윤건수/baekjoon/G2_2637/input1.txt
  윤건수/baekjoon/G2_2637/result1.txt
  윤건수/programmers/LV2_138476/Solution.java
  윤건수/programmers/LV2_138476/TestCase.java
  윤건수/programmers/LV2_340211/Solution.java
  윤건수/programmers/LV2_340211/TestCase.java
Labels: BOJ, Gold, Java, Programmers, LV2

#176 Feat: Week 28 장난감 조립, 귤 고르기
  강산아/boj/week27/물통.java
  강산아/boj/week28/장난감조립.java
  강산아/programmers/week28/귤고르기.java
  강산아/programmers/week28/충돌위험찾기.java
Labels: BOJ, Gold, Java, Programmers, LV2

#175 [29주차 / 이인복] 문제 풀이
  이인복/BOJ/java/com/Week29/G2_2637/G2_2637.java
  이인복/BOJ/java/com/Week29/LV2_138476/LV2_138476.java
Labels: BOJ, Gold, Programmers, LV2

#174 [29주차 / 박정근] 문제 풀이
  박정근/BOJ/Week29/[2637]장난감_조립.java
  박정근/Programmers/Week29/귤_고르기.java
  박정근/Programmers/Week29/충돌위험_찾기.java
Labels: BOJ, Gold, Java, Programmers, LV2
